@model CrossRef.Services.DataVisualisation.ViewModels.PermissionsViewModel

<h1>Set public profile permissions</h1>

<div class="permission-list-container">
    <form asp-controller="Permissions" asp-action="Permissions" method="post">

        <div class="permission-entry">
            <div class="permission-entry-name">
                @Html.CheckBoxFor(m => m.ShowBiography, new
                {
                    id = "biography-checkbox",
                    @class = "permission-entry-name-checkbox"
                })
                <label class="permission-entry-name-label" for="biography-checkbox">Show biography</label>
            </div>
            <div class="permission-entry-description">
                <a>Make your biography public so that other users know what you are working on.</a>
            </div>
        </div>
        <hr/>

        <div class="permission-entry">
            <div class="permission-entry-name">
                @Html.CheckBoxFor(m => m.ShowAffiliation, new
                {
                    id = "affiliation-checkbox",
                    @class = "permission-entry-name-checkbox"
                })
                <label class="permission-entry-name-label" for="affiliation-checkbox">Show affiliation</label>
            </div>
            <div class="permission-entry-description">
                <a>Display your affiliation (company, university) on your public profile page.</a>
            </div>
        </div
        ><hr/>

        <div class="permission-entry">
            <div class="permission-entry-name">
                @Html.CheckBoxFor(m => m.ShowDateOfBirth, new
                {
                    id = "dob-checkbox",
                    @class = "permission-entry-name-checkbox"
                })
                <label class="permission-entry-name-label" for="dob-checkbox">Show date of birth</label>
            </div>
            <div class="permission-entry-description">
                <a>Make your date of birth public</a>
            </div>
        </div>
        <hr/>

        <div class="permission-entry">
            <div class="permission-entry-name">
                @Html.CheckBoxFor(m => m.ShowArticles, new
                {
                    id = "articles-checkbox",
                    @class = "permission-entry-name-checkbox"
                })
                <label class="permission-entry-name-label" for="articles-checkbox">Show article statistics</label>
            </div>
            <div class="permission-entry-description">
                <a>Display published articles statistics (# of articles published/year) on your profile page.</a>
            </div>
        </div>

        <button class="btn btn-primary btn-lg permission-save-btn" type="submit">Save</button>
    </form>
</div>